<div class="wrapper">



  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <!-- <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a> -->
        <!-- <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li> -->
      <li><a href="#">Cerrar sesión</a></li>
    </ul>
  </nav>
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="./assets/dist/img/logo_citaweb.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">PACIENTE</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">Nombre del usuario</a>
        </div>
      </div>


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Gestor de citas médicas
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Gestor de citas médicas</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <p>Consultar cita</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer" (click)="toggleFormulario()"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <p>Eliminar cita</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer" (click)="toggleFormulario2()"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <p>Agendar cita</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer" (click)="toggleFormulario3()"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <p>Modificar cita</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer" (click)="toggleFormulario4()"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
  
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
                  <!-- CONSULTAR CITA--------------------------------------------------------------->
                  <div *ngIf="mostrarFormulario" class="formulario" style="text-align: center;">
                
                    <h2>MODIFICAR</h2>
                    <form>
                      <label for="nombre">Nombre:</label>
                      <input type="text" id="nombre" name="nombre" placeholder="Nombre completo">
              
                      <label for="fecha">Fecha de la cita:</label>
                      <input type="date" id="fecha" name="fecha">
              
                      <!-- Otros campos del formulario -->
              
                      <button type="submit">Consultar</button>
                    </form>
                  </div>
                  <!------------------------------------------------------------------------------>


                  <!-- ELIMINAR CITA--------------------------------------------------------------->
                  <div *ngIf="mostrarFormulario2" class="formulario" style="text-align: center;">
                
                    <h2><br>MODIFICAR</h2>
                    <form>
                      <label for="nombre">Nombre:</label>
                       <input type="text" id="nombre" name="nombre" placeholder="Nombre completo">
              
                      <label for="fecha">Fecha de la cita:</label>
                      <input type="date" id="fecha" name="fecha">
              
                      <!-- Otros campos del formulario -->
              
                      <button type="submit">Consultar</button>
                    </form>
                  </div>
                  <!------------------------------------------------------------------------------>

                  <!-- AGENDAR CITA--------------------------------------------------------------->
                  <div *ngIf="mostrarFormulario3" class="formulario" style="text-align: center;">
                
                    <h2><br>AGENDAR CITA</h2>

                    <div class="card">
                      <div class="card-body">
                       <form>
                      <label for="nombre">PROFESIONAL:</label>
                      <input type="text" id="nombre" name="nombre" placeholder="Nombre completo">
              
                      <label for="motivo">MOTIVO:</label>
                      <input type="text" id="motivo" name="motivo" placeholder="Motivo">

                      <label for="fecha">FECHA DE LA CITA:</label>
                      <input type="date" id="fecha" name="fecha">
                      
                      <label for="hora">HORA:</label>
                      <input type="number" id="number" name="hora" min="0" max="24">
                      
                      <!-- Otros campos del formulario -->
                      <button class="boton-amarillo">AGENDAR CITA</button>


                    </form>
                      </div>
                    </div>
                    
                  </div>
                  <!------------------------------------------------------------------------------->


                  <!-- MODIFICAR CITA--------------------------------------------------------------->
                  <div *ngIf="mostrarFormulario4" class="formulario" style="text-align: center;">
                
                    <h2><br>MODIFICAR CITA</h2>

                    <div class="card">
                      <div class="card-body">
                       <form>
                      <label for="nombre">PROFESIONAL:</label>
                      <input type="text" id="nombre" name="nombre" placeholder="Nombre completo">
              
                      <label for="motivo">MOTIVO:</label>
                      <input type="text" id="motivo" name="motivo" placeholder="Motivo">

                      <label for="fecha">FECHA DE LA CITA:</label>
                      <input type="date" id="fecha" name="fecha">
                      
                      <label for="hora">HORA:</label>
                      <input type="number" id="number" name="hora" min="0" max="24">
                      
                      <!-- Otros campos del formulario -->
                      <button class="boton-rojo">MODIFICAR CITA</button>


                    </form>
                      </div>
                    </div>
                    
                  </div>
                  <!------------------------------------------------------------------------------->
                  
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2024  SENA - Técnico en pruebas de software, Grupo 16 (Yember Gómez, Sebastián Tocaruncho).</strong>
    All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>